* {
    box-sizing: border-box;
}

div#factions {
    align-content: flex-start;
}

div#factions .data_item {
    height: 2rem;
    width: 15rem;
}

div#augments {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data_item {
    align-items: center;
    background: lightgray;
    display: flex;
    height: 3rem;
    max-width: 50vw;
    padding: .5rem 1rem;
    text-align: left;
    width: 20rem;
}

.data_item:hover {
    font-weight: bold;
    background-color: #bdbdbd;
}

div#augments .data_item.highlight  {
    background: lightblue;
}

div#augments .data_item.highlight-border  {
    background: lightgreen;
}

div#factions .data_item.highlight  {
    background: lightcoral;
}

.site-container {
    display: flex;
    flex-direction: row;
}

.container {
    margin: .5rem;
}

.unique-augmentation {
    /* border-left: 3px solid yellow; */
    position: relative;
}

.unique-augmentation:after {
    background: #E67E22;
    border-radius: 50%;
    content: '';
    display: block;
    height: .25rem;
    left: .5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: .25rem;
}
